.App {
  text-align: center;
  width: 50%;
  margin: auto;
}
.circular-camera {
  position: relative;
  width: 100px; /* Adjust to your desired dimensions */
  height: 100px; /* Adjust to your desired dimensions */
  overflow: hidden;
  border-radius: 50%;
  margin-left: 25%;
}

.webcam-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
